.create-new-project-container {
    width: 150px;
    display: block;
    margin-left: 30px;
    margin-top: 30px;
}
.create-new-project-button {
    height: 150px;
    width: 100%;
    border-radius: 7px;
    border-width: 1px;
    border-color:#cacaca;
    background-color: #adffca;
    font-size: 60pt;
    box-shadow: none;
    font-family: in;
}
.create-new-project-button:hover {
    border-color:#40cd71;
    border-width: 2px;
}
.new-project-label {
    font-size: 10pt;
}