    .landing-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .logo {
        animation: slideDown 2s ease-in-out;
    }
    .vediscript {
        animation: fadeIn 2s ease-in-out;
        margin: 0;
    }
    @keyframes fadeIn {
        from {
        opacity: 0;
        }
        to {
        opacity: 1;
        }
    }
    .get-started-button {
        animation: slideUp 1s ease-in-out;
        background-color: #3BD16F;
        border-radius: 9px;
        border-width: 0px;
        width: 150px;
        height: 50px;
        color: white;
        font-weight: 600;
        font-family: inherit;
    }
    .get-started-button:hover{
        scale: 1.010;
        background-color: #38bb66;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
        transition: 0.25s;
    }
    @keyframes slideUp {
        from {
        transform: translateY(100px);
        opacity: 0;
        }
        to {
        transform: translateY(0);
        opacity: 1;
        }
    }
    @keyframes slideDown {
        from {
        transform: translateY(-100px);
        opacity: 0;
        }
        to {
        transform: translateY(0);
        opacity: 1;
        }
    }
    
    