.authentication-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("../../../../public/abstract-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.signup-container {
    background-color: rgb(255, 255, 255);
    width: 350px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.margin-inside {
    width: 85%;
    height: 90%;
}
.text-center{
    text-align: center;
}
.eliminate-button-style {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    color: #01B636;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.blur-effect {
    background-color: rgba(140, 140, 140, 0.2);
}
.red {
    background-color: rgb(255, 102, 102);
}
.green {
    background-color: #4bff81;
}
.warning {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.warning p{
    font-size: 10pt;
}
